<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBm9eFwR7wOPxFqAowCF-3x1oZyuC8Rnxw</string>
	<key>GCM_SENDER_ID</key>
	<string>339395447043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.receiptLockerFlutter</string>
	<key>PROJECT_ID</key>
	<string>receipt-app-58d4e</string>
	<key>STORAGE_BUCKET</key>
	<string>receipt-app-58d4e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339395447043:ios:852fd6fc1c07c5ed4fc136</string>
</dict>
</plist>